scipy
pandas==1.1.2
matplotlib==3.3.1
gym==0.17.3
pymoo==0.4.2.1
sklearn
git+https://github.com/naught101/sobol_seq@v0.2.0#egg=sobol_seq
torch==1.10.0 -f https://download.pytorch.org/whl/torch_stable.html
